.contacts__wrapper {
    background-color: $lightgreen;
    width: 100%;
}

.contacts {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    margin-top: 30px;
}

.contacts__title {
    color: $white;
    font-weight: $light;
    padding-top: 40px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1050px;
    font-size: $midtext;
}

.main__form {
    display: flex;
    flex-direction: row;
    padding-bottom: 120px;
}

.contacts__social-wrapper {
    display: flex;
    flex-direction: row;
    width: 160px;
    justify-content: space-between;
    & .social__item-icon {
        filter: brightness(0.8);
        transition: all 250ms;
        &:hover {
            transition: all 250ms;
            cursor: pointer;
            filter: brightness(1);
        }
    }
}

.contacts__links {
    & a {
        margin-top: 15px;
        display: block;
        color: $white;
        font-weight: $light;
        font-size: $link;
        text-decoration: none;
        border-bottom: 1px solid rgba($white, 0);
        transition: all .3s ease-in-out;
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid rgba($white, 1);
            transition: all .3s ease-in-out;
        }
    }
}

.form__input {
    display: flex;
    flex-direction: column;
    & label {
        color: $white;
        font-size: $link;
        font-weight: $light;
        margin-left: 30px;
    }
    & .form__control {
        width: 400px;
        height: 60px;
        padding: 0;
        box-sizing: border-box;
        margin-bottom: 30px;
        margin-left: 30px;
        color: rgba($white, 0.7);
        font-weight: $light;
        border: 1px solid rgba($white, 0.5);
        background: $lightgreen;
    }
}

.form__wrapper {
    & form {
        margin-left: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 405px;
        & button {
            @include orangeButton;
            margin-top: 44px;
            margin-left: 30px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1680px) {
    .main__form {
        flex-direction: column;
        width: 700px;
        margin: 0 auto;
        & .contacts__links {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        & .form__wrapper form {
            height: unset;
            margin-left: unset;
            align-content: center;
        }
    }
}

@media screen and (max-width: 1580px) {
    .contacts {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .contacts__links {
        flex-direction: column;
        align-items: center;
    }
    .main__form {
        width: unset !important;
    }
}

@media screen and (max-width: 428px) {
    .form__control {
        width: unset !important;
        margin-left: unset !important;
    }
    .contacts__title {
        font-size: 24px !important;
    }
    .form__input label {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 384px) {
    .form__wrapper form button {
        width: 290px;
        margin-left: 0px;
    }
}