.main__block-wrapper {
    background: url(../../src/img/main-bg.png);
}

.main {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    padding-top: 15px;
}

.main__title {
    width: 100%;
    max-width: 732px;
    font-size: $bigtitle;
    color: $white;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: $light;
}

.main__subtitle {
    font-size: $link;
    color: $white;
    margin-bottom: 35px;
    font-weight: $light;
}

.main__button {
    @include orangeButton;
    margin-bottom: 55px;
}

.main__social-wrapper {
    display: flex;
    flex-direction: row;
    width: 160px;
    margin-bottom: 55px;
    justify-content: space-between;
    & .main__social-icon {
        filter: brightness(0.8);
        transition: all 250ms;
        &:hover {
            transition: all 250ms;
            cursor: pointer;
            filter: brightness(1.2);
            box-shadow: 2px $black;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.4);
            -moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.4);
            box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.4);
        }
    }
}

.main__worktime {
    color: $white;
    font-size: $link;
    font-weight: $light;
    padding-bottom: 95px;
}