.service__wrapper {
    background: url(../../src/img/service-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.service {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.service__title {
    font-size: $title;
    font-weight: $light;
    padding-bottom: 55px;
}

.service__top-section {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top__section-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    & .section__item-text {
        max-width: 500px;
        margin-left: 20px;
        font-size: $mainfontsize;
        font-weight: $light;
    }
}

.service__btm-section {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .btm__section-left {
        width: 100%;
        max-width: 610px;
        padding-bottom: 40px;
        font-size: $midtext;
        font-weight: $light;
        color: $white;
    }
    & .btm__section-right {
        width: 100%;
        max-width: 610px;
        font-size: $link;
        font-weight: $light;
        text-align: right;
        margin-top: 40px;
    }
}