.service__wrapper {
    background: url(../../src/img/service-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.service {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.service__title {
    font-size: $title;
    font-weight: $light;
    padding-bottom: 55px;
}

.service__top-section {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top__section-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    & .section__item-img {
        display: flex;
        align-items: center;
    }
    & .section__item-text {
        max-width: 500px;
        margin-left: 20px;
        font-size: $mainfontsize;
        font-weight: $light;
    }
}

.service__btm-section {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .btm__section-left {
        width: 100%;
        max-width: 610px;
        padding-bottom: 20px;
        font-size: $midtext;
        font-weight: $light;
        color: $white;
    }
    & .btm__section-right {
        width: 100%;
        max-width: 610px;
        font-size: $link;
        font-weight: $light;
        text-align: right;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1680px) {
    .service__top-section {
        flex-wrap: wrap;
    }
    .service__wrapper {
        background-repeat: repeat-x;
    }
    .btm__section-right {
        color: $white;
    }
}

@media screen and (max-width: 1580px) {
    .service {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
    .top__section-item .section__item-img img {
        width: 60px !important;
        max-width: unset !important;
    }
}

@media screen and (max-width: 1024px) {
    .btm__section-right {
        font-size: 18px !important;
        margin-top: 0px !important;
    }
    .btm__section-left {
        font-size: 18px !important;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 428px) {
    .btm__section-left {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 414px) {
    .service__title {
        font-size: 32px !important;
    }
}